@import "../common/media.scss";
@import "../color/colorName.scss";
@import "../color/color.scss";

.skills {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2em;
  margin-bottom: 10em;
  .skillTable {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    background-color: $home-bg;
    @include tab {
      width: 84%;
    }
    @include sp {
      width: 100%;
    }
  }
}
.colSpan {
  background-color: rgba($darker-gray, 0.2);
  color: $i-gray;
  font-size: 1.2em;
  font-weight: bold;
}
tr {
  box-shadow: 0px 5px 15px -15px rgba(245, 245, 245, 0.8);
  height: 3em;
  padding-top: 1em;
}
td {
  text-align: center;
}
table {
  width: 70%;
  margin: 2em auto;
  border-collapse: collapse;
  margin-bottom: 2em;
}

.expert {
  color: $darkest-skyblue;
  font-weight: bold;
}
.working {
  color: $darkest-white;
  font-weight: bold;
}
.others {
  color: $lighter-gray;
}

.supplement {
  padding-left: 2em;
  padding-bottom: 2em;
}
