@import "../common/media.scss";
@import "../color/colorName.scss";

.skills {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  .skillTable {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    background-color: $home-bg;
    @include tab {
      width: 84%;
    }
    @include sp {
      width: 100%;
    }
  }
}
