
//gray
$base-gray: #515a6b;
$dark-gray: darken($base-gray, 10%);
$darker-gray: darken($base-gray, 20%);
$darkest-gray: darken($base-gray, 30%);
$light-gray: lighten($base-gray, 10%);
$lighter-gray: lighten($base-gray, 20%);
$lightest-gray: lighten($base-gray, 30%);

//blue
$base-blue: #3366ff;
$dark-blue: darken($base-blue, 10%);
$darker-blue: darken($base-blue, 20%);
$darkest-blue: darken($base-blue, 30%);
$light-blue: lighten($base-blue, 10%);
$lighter-blue: lighten($base-blue, 20%);
$lightest-blue: lighten($base-blue, 30%);

//skyblue
$base-skyblue: #4dd2ff;
$dark-skyblue: darken($base-skyblue, 10%);
$darker-skyblue: darken($base-skyblue, 20%);
$darkest-skyblue: darken($base-skyblue, 30%);
$light-skyblue: lighten($base-skyblue, 10%);
$lighter-skyblue: lighten($base-skyblue, 20%);
$lightest-skyblue: lighten($base-skyblue, 30%);

//green
$base-green: #00cc99;
$dark-green: darken($base-green, 10%);
$darker-green: darken($base-green, 20%);
$darkest-green: darken($base-green, 30%);
$light-green: lighten($base-green, 10%);
$lighter-green: lighten($base-green, 20%);
$lightest-green: lighten($base-green, 30%);

//orange
$base-orange: #ff5050;
$dark-orange: darken($base-orange, 10%);
$darker-orange: darken($base-orange, 20%);
$darkest-orange: darken($base-orange, 30%);
$light-orange: lighten($base-orange, 10%);
$lighter-orange: lighten($base-orange, 20%);
$lightest-orange: lighten($base-orange, 30%);

//pink
$base-pink: #ff0066;
$dark-pink: darken($base-pink, 10%);
$darker-pink: darken($base-pink, 20%);
$darkest-pink: darken($base-pink, 30%);
$light-pink: lighten($base-pink, 10%);
$lighter-pink: lighten($base-pink, 20%);
$lightest-pink: lighten($base-pink, 30%);

//yellow
$base-yellow: #ffcc00;
$dark-yellow: darken($base-yellow, 10%);
$darker-yellow: darken($base-yellow, 20%);
$darkest-yellow: darken($base-yellow, 30%);
$light-yellow: lighten($base-yellow, 10%);
$lighter-yellow: lighten($base-yellow, 20%);
$lightest-yellow: lighten($base-yellow, 30%);

//white
$base-white: #f3f4f5;
$dark-white: darken($base-white, 10%);
$darker-white: darken($base-white, 20%);
$darkest-white: darken($base-white, 30%);
$light-white: lighten($base-white, 10%);
$lighter-white: lighten($base-white, 20%);
$lightest-white: lighten($base-white, 30%);
