
@import "color.scss";
.palette {
    width: 100%;
}
.box {
  width: 300px;
  font-size: xx-large;
  margin: auto;
}

.base-gray {
  background-color: $base-gray;
}
.dark-gray {
  background-color: $dark-gray;
  color: white;
}
.darker-gray {
  background-color: $darker-gray;
  color: white;
}
.darkest-gray {
  background-color: $darkest-gray;
  color: white;
}
.light-gray {
  background-color: $light-gray;
  color: black;
}
.lighter-gray {
  background-color: $lighter-gray;
  color: black;
}
.lightest-gray {
  background-color: $lightest-gray;
  color: black;
}

.base-blue {
  background-color: $base-blue;
}
.dark-blue {
  background-color: $dark-blue;
  color: white;
}
.darker-blue {
  background-color: $darker-blue;
  color: white;
}
.darkest-blue {
  background-color: $darkest-blue;
  color: white;
}
.light-blue {
  background-color: $light-blue;
  color: black;
}
.lighter-blue {
  background-color: $lighter-blue;
  color: black;
}
.lightest-blue {
  background-color: $lightest-blue;
  color: black;
}

.base-skyblue {
  background-color: $base-skyblue;
}
.dark-skyblue {
  background-color: $dark-skyblue;
  color: white;
}
.darker-skyblue {
  background-color: $darker-skyblue;
  color: white;
}
.darkest-skyblue {
  background-color: $darkest-skyblue;
  color: white;
}
.light-skyblue {
  background-color: $light-skyblue;
  color: black;
}
.lighter-skyblue {
  background-color: $lighter-skyblue;
  color: black;
}
.lightest-skyblue {
  background-color: $lightest-skyblue;
  color: black;
}

.base-green {
  background-color: $base-green;
}
.dark-green {
  background-color: $dark-green;
  color: white;
}
.darker-green {
  background-color: $darker-green;
  color: white;
}
.darkest-green {
  background-color: $darkest-green;
  color: white;
}
.light-green {
  background-color: $light-green;
  color: black;
}
.lighter-green {
  background-color: $lighter-green;
  color: black;
}
.lightest-green {
  background-color: $lightest-green;
  color: black;
}

.base-orange {
  background-color: $base-orange;
}
.dark-orange {
  background-color: $dark-orange;
  color: white;
}
.darker-orange {
  background-color: $darker-orange;
  color: white;
}
.darkest-orange {
  background-color: $darkest-orange;
  color: white;
}
.light-orange {
  background-color: $light-orange;
  color: black;
}
.lighter-orange {
  background-color: $lighter-orange;
  color: black;
}
.lightest-orange {
  background-color: $lightest-orange;
  color: black;
}

.base-pink {
  background-color: $base-pink;
}
.dark-pink {
  background-color: $dark-pink;
  color: white;
}
.darker-pink {
  background-color: $darker-pink;
  color: white;
}
.darkest-pink {
  background-color: $darkest-pink;
  color: white;
}
.light-pink {
  background-color: $light-pink;
  color: black;
}
.lighter-pink {
  background-color: $lighter-pink;
  color: black;
}
.lightest-pink {
  background-color: $lightest-pink;
  color: black;
}

.base-yellow {
  background-color: $base-yellow;
}
.dark-yellow {
  background-color: $dark-yellow;
  color: white;
}
.darker-yellow {
  background-color: $darker-yellow;
  color: white;
}
.darkest-yellow {
  background-color: $darkest-yellow;
  color: white;
}
.light-yellow {
  background-color: $light-yellow;
  color: black;
}
.lighter-yellow {
  background-color: $lighter-yellow;
  color: black;
}
.lightest-yellow {
  background-color: $lightest-yellow;
  color: black;
}

.base-white {
  background-color: $base-white;
}
.dark-white {
  background-color: $dark-white;
  color: white;
}
.darker-white {
  background-color: $darker-white;
  color: white;
}
.darkest-white {
  background-color: $darkest-white;
  color: white;
}
.light-white {
  background-color: $light-white;
  color: black;
}
.lighter-white {
  background-color: $lighter-white;
  color: black;
}
.lightest-white {
  background-color: $lightest-white;
  color: black;
}

